
<table>
        <tr>
            <td>
                <LoginDisplay />
            </td>
        </tr>
        <tr>
            <td>
                <DatabaseSettings />
            </td>
        </tr>
</table>

